# Cities and demographics data

Importing libraries

In [124]:
import requests
import bs4
from bs4 import BeautifulSoup as bs
import pandas as pd
import unicodedata
import re
import pymysql

All relevant German cities/towns near an airport with a commercial flight scheduled

In [27]:
cities = ['Berlin', 'Borkum', 'Bremen','Cologne','Dortmund', 'Dresden', 'Düsseldorf', 'Emden', 'Erfurt', 'Frankfurt', 'Friedrichshafen', 'Hamburg', 'Hannover', 'Heide', 'Helgoland', 'Heringsdorf','Karlsruhe','Kassel', 'Koblenz','Leipzig', 'Halle (Saale)', 'Mannheim', 'Memmingen', 'Munich', 'Osnabrück','Nuremberg', 'Paderborn', 'Rostock', 'Saarbrücken', 'Stuttgart' , 'Weeze' ]



def City_info(soup):
    
    ret_dict = {}
    ret_dict['city'] = soup.h1.get_text()
    
    
    if soup.select_one('.mergedrow:-soup-contains("Mayor")>.infobox-label') != None:
        i = soup.select_one('.mergedrow:-soup-contains("Mayor")>.infobox-label')
        mayor_name_html = i.find_next_sibling()
        mayor_name = unicodedata.normalize('NFKD',mayor_name_html.get_text())
        ret_dict['mayor']  = mayor_name
    
    if soup.select_one('.mergedrow:-soup-contains("City")>.infobox-label') != None:
        j =  soup.select_one('.mergedrow:-soup-contains("City")>.infobox-label')
        area = j.find_next_sibling('td').get_text()
        ret_dict['city_size'] = unicodedata.normalize('NFKD',area)

    if soup.select_one('.mergedtoprow:-soup-contains("Elevation")>.infobox-data') != None:
        k = soup.select_one('.mergedtoprow:-soup-contains("Elevation")>.infobox-data')
        elevation_html = k.get_text()
        ret_dict['elevation'] = unicodedata.normalize('NFKD',elevation_html)
    
    if soup.select_one('.mergedtoprow:-soup-contains("Population")') != None:
        l = soup.select_one('.mergedtoprow:-soup-contains("Population")')
        c_pop = l.findNext('td').get_text()
        ret_dict['city_population'] = c_pop
    
    if soup.select_one('.infobox-label>[title^=Urban]') != None:
        m = soup.select_one('.infobox-label>[title^=Urban]')
        u_pop = m.findNext('td')
        ret_dict['urban_population'] = u_pop.get_text()

    if soup.select_one('.infobox-label>[title^=Metro]') != None:
        n = soup.select_one('.infobox-label>[title^=Metro]')
        m_pop = n.findNext('td')
        ret_dict['metro_population'] = m_pop.get_text()
    
    if soup.select_one('.latitude') != None:
        o = soup.select_one('.latitude')
        ret_dict['lat'] = o.get_text()

    if soup.select_one('.longitude') != None:    
        p = soup.select_one('.longitude')
        ret_dict['long'] = p.get_text()
    
    return ret_dict

list_of_city_info = []
for city in cities:
    url = 'https://en.wikipedia.org/wiki/{}'.format(city)
    web = requests.get(url,'html.parser')
    soup = bs(web.content)
    list_of_city_info.append(City_info(soup))
df_cities_demographic = pd.DataFrame(list_of_city_info)

In [28]:
df_cities_demographic.isna().sum()

city                 0
mayor               19
city_size           14
elevation            3
city_population      0
urban_population    20
metro_population    14
lat                  0
long                 0
dtype: int64

Dropping cloumns with too many NaNs

In [29]:
df_cities_demographic2 = df_cities_demographic.drop(columns=['mayor', 'urban_population', 'metro_population', 'city_size']).copy()

In [151]:
df_cities_demographic2 = (df_cities_demographic2
                 .assign(country = lambda x: 'DE')
                 .assign(munic_country = lambda x: x['city']+','+x['country'])
                 
                )
df_cities_demographic2

,city,elevation,city_population,lat,long,country,munic_country
0,Berlin,34 m (112 ft),"3,769,495",52°31′12″N,13°24′18″E,DE,"Berlin,DE"
1,Borkum,6 m (20 ft),"5,002",53°35′17″N,06°40′11″E,DE,"Borkum,DE"
2,Bremen,12 m (39 ft),"566,573",53°5′N,8°48′E,DE,"Bremen,DE"
3,Cologne,37 m (121 ft),"1,083,498",50°56′11″N,6°57′10″E,DE,"Cologne,DE"
4,Dortmund,86 m (282 ft),"587,696",51°31′N,7°28′E,DE,"Dortmund,DE"
5,Dresden,113 m (371 ft),"556,227",51°03′00″N,13°44′24″E,DE,"Dresden,DE"
6,Düsseldorf,38 m (125 ft),"620,523",51°14′N,6°47′E,DE,"Düsseldorf,DE"
7,Emden,1 m (3 ft),"49,874",53°22′1″N,07°12′22″E,DE,"Emden,DE"
8,Erfurt,194 m (636 ft),"213,692",50°59′0″N,11°2′0″E,DE,"Erfurt,DE"
9,Frankfurt,112 m (367 ft),"764,104",50°7′N,8°41′E,DE,"Frankfurt,DE"
10,Friedrichshafen,"400 m (1,300 ft)","61,221",47°39′N,9°29′E,DE,"Friedrichshafen,DE"
11,Hamburg,NaN,"1,845,229",53°33′55″N,10°00′05″E,DE,"Hamburg,DE"
12,Hanover,55 m (180 ft),"534,049",52°22′N,9°43′E,DE,"Hanover,DE"
13,Heide,11 m (36 ft),"21,485",54°11′46″N,9°5′36″E,DE,"Heide,DE"
14,Heligoland,61 m (200 ft),"1,307",54°10′57″N,7°53′07″E,DE,"Heligoland,DE"
15,Heringsdorf,5 m (16 ft),"8,443",53°58′N,14°10′E,DE,"Heringsdorf,DE"
16,Karlsruhe,115 m (377 ft),"308,436",49°00′33″N,8°24′14″E,DE,"Karlsruhe,DE"
17,Kassel,167 m (548 ft),"201,048",51°18′57″N,9°29′52″E,DE,"Kassel,DE"
18,Koblenz,64.7 m (212.3 ft),"113,388",50°21′35″N,7°35′52″E,DE,"Koblenz,DE"
19,Leipzig,NaN,"597,493",51°20′24″N,12°22′30″E,DE,"Leipzig,DE"
20,Halle (Saale),87 m (285 ft),"237,865",51°28′58″N,11°58′11″E,DE,"Halle (Saale),DE"
21,Mannheim,97 m (318 ft),"309,721",49°29′16″N,08°27′58″E,DE,"Mannheim,DE"
22,Memmingen,"601 m (1,972 ft)","44,360",47°59′16″N,10°10′52″E,DE,"Memmingen,DE"
23,Munich,"520 m (1,710 ft)","1,488,202",48°08′15″N,11°34′30″E,DE,"Munich,DE"
24,Osnabrück,63 m (207 ft),"164,223",52°17′N,8°3′E,DE,"Osnabrück,DE"
25,Nuremberg,302 m (991 ft),"515,543",49°27′14″N,11°04′39″E,DE,"Nuremberg,DE"
26,Paderborn,NaN,"151,864",51°43′05″N,8°45′15″E,DE,"Paderborn,DE"
27,Rostock,13 m (43 ft),"209,061",54°5′0″N,12°8′0″E,DE,"Rostock,DE"
28,Saarbrücken,230.1 m (754.9 ft),"179,349",49°14′N,7°0′E,DE,"Saarbrücken,DE"
29,Stuttgart,245 m (804 ft),"630,305",48°46′55″N,9°11′02″E,DE,"Stuttgart,DE"
30,Weeze,18 m (59 ft),"11,228",51°37′36″N,6°11′48″E,DE,"Weeze,DE"

Creating the main cities table to link up

In [100]:
df_cities_GER = df_cities_demographic2.filter(['city']).copy()

In [102]:
df_cities_GER = (df_cities_GER
                 .assign(country = lambda x: 'DE')
                 .assign(munic_country = lambda x: x['city']+','+x['country'])
                 
                )

In [103]:
df_cities_GER

               city country       munic_country
0            Berlin      DE           Berlin,DE
1            Borkum      DE           Borkum,DE
2            Bremen      DE           Bremen,DE
3           Cologne      DE          Cologne,DE
4          Dortmund      DE         Dortmund,DE
5           Dresden      DE          Dresden,DE
6        Düsseldorf      DE       Düsseldorf,DE
7             Emden      DE            Emden,DE
8            Erfurt      DE           Erfurt,DE
9         Frankfurt      DE        Frankfurt,DE
10  Friedrichshafen      DE  Friedrichshafen,DE
11          Hamburg      DE          Hamburg,DE
12          Hanover      DE          Hanover,DE
13            Heide      DE            Heide,DE
14       Heligoland      DE       Heligoland,DE
15      Heringsdorf      DE      Heringsdorf,DE
16        Karlsruhe      DE        Karlsruhe,DE
17           Kassel      DE           Kassel,DE
18          Koblenz      DE          Koblenz,DE
19          Leipzig      DE          Leipzig,DE
20    Halle (Saale)      DE    Halle (Saale),DE
21         Mannheim      DE         Mannheim,DE
22        Memmingen      DE        Memmingen,DE
23           Munich      DE           Munich,DE
24        Osnabrück      DE        Osnabrück,DE
25        Nuremberg      DE        Nuremberg,DE
26        Paderborn      DE        Paderborn,DE
27          Rostock      DE          Rostock,DE
28      Saarbrücken      DE      Saarbrücken,DE
29        Stuttgart      DE        Stuttgart,DE
30            Weeze      DE            Weeze,DE

# Airport data

Importing airport data from csv

In [136]:
df_all_airports = pd.read_csv('airports.csv')

In [137]:
df_all_airports['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

Filtering out everything that isn't a normal airport

In [138]:
df_all_airports_filter = df_all_airports[df_all_airports['type'].str.contains("airport")]

Getting the German airports

In [139]:
df_airports_ger_all = (df_all_airports_filter
                   .query('iso_country == "DE"')
                   .filter(['name','municipality','iso_country','iso_region','gps_code','iata_code','latitude_deg','longitude_deg'])
                   .rename(columns={'iso_country':'country', 'iso_region':'region', 'gps_code':'icao_code', 'latitude_deg':'lat', 'longitude_deg': 'long'})
                   .assign(munic_country = lambda x: x['municipality']+','+ x['country'])
                  )

In [140]:
df_airports_ger_all.isna().sum()

name               0
municipality     119
country            0
region             0
icao_code        359
iata_code        745
lat                0
long               0
munic_country    119
dtype: int64

In [141]:
df_airports_ger_all.dropna(subset =['icao_code', 'municipality'], inplace=True)

In [143]:
df_airports_ger_all.isna().sum()

name               0
municipality       0
country            0
region             0
icao_code          0
iata_code        363
lat                0
long               0
munic_country      0
dtype: int64

In [144]:
df_airports_ger_all.reset_index(drop=True)

,name,municipality,country,region,icao_code,iata_code,lat,long,munic_country
0,Flugplatz Gransee,Gransee,DE,DE-BR,EDUG,NaN,53.006699,13.205000,"Gransee,DE"
1,Wilsche Glider Field,Wilsche,DE,DE-NI,EDVQ,NaN,52.524677,10.462597,"Wilsche,DE"
2,Wächtersberg-Hub Glider Airfield,Wildberg,DE,DE-BW,EDSV,NaN,48.614931,8.755457,"Wildberg,DE"
3,Brockzetel Glider Field,Aurich,DE,DE-NI,ETJA,NaN,53.481400,7.651100,"Aurich,DE"
4,Blexen Airfield,Blexen,DE,DE-NI,EDWT,NaN,53.538300,8.538800,"Blexen,DE"
...,...,...,...,...,...,...,...,...,...
437,Schleswig Air Base,Jagel,DE,DE-SH,ETNS,WBG,54.459301,9.516330,"Jagel,DE"
438,Wiesbaden Army Airfield,Wiesbaden,DE,DE-HE,ETOU,WIE,50.049801,8.325400,"Wiesbaden,DE"
439,Ingolstadt Manching Airport,Manching,DE,DE-BY,ETSI,IGS,48.715698,11.534000,"Manching,DE"
440,Lechfeld Air Base,Lagerlechfeld,DE,DE-BY,ETSL,NaN,48.185504,10.861200,"Lagerlechfeld,DE"
441,Neuburg AFB,Neuburg (Donau),DE,DE-BY,ETSN,NaN,48.710999,11.211500,"Neuburg (Donau),DE"

Getting all the relevant German airports for our approach

In [145]:
df_airports_ger_final = df_cities_GER.merge(df_airports_ger_all, on='munic_country', how='inner').copy()

In [146]:
df_airports_ger_final.drop(columns=['city', 'country_x'], inplace=True)

In [147]:
df_airports_ger_final.rename(columns = {'country_y' : 'country'}, inplace=True)

In [148]:
df_airports_ger_final

,munic_country,name,municipality,country,region,icao_code,iata_code,lat,long
0,"Berlin,DE",Berlin Brandenburg Airport,Berlin,DE,DE-BR,EDDB,BER,52.351389,13.493889
1,"Borkum,DE",Borkum Airport,Borkum,DE,DE-NI,EDWR,BMK,53.596390,6.709167
2,"Bremen,DE",Bremen Airport,Bremen,DE,DE-HB,EDDW,BRE,53.047501,8.786670
3,"Cologne,DE",Cologne Bonn Airport,Cologne,DE,DE-NW,EDDK,CGN,50.865898,7.142740
4,"Dortmund,DE",Dortmund Airport,Dortmund,DE,DE-NW,EDLW,DTM,51.518299,7.612240
5,"Dresden,DE",Dresden Airport,Dresden,DE,DE-SN,EDDC,DRS,51.132801,13.767200
6,"Düsseldorf,DE",Düsseldorf Airport,Düsseldorf,DE,DE-NW,EDDL,DUS,51.289501,6.766780
7,"Emden,DE",Emden Airport,Emden,DE,DE-NI,EDWE,EME,53.391109,7.227500
8,"Erfurt,DE",Erfurt Airport,Erfurt,DE,DE-TH,EDDE,ERF,50.979801,10.958100
9,"Friedrichshafen,DE",Friedrichshafen Airport,Friedrichshafen,DE,DE-BW,EDNY,FDH,47.671299,9.511490
10,"Hamburg,DE",Hamburg Helmut Schmidt Airport,Hamburg,DE,DE-HH,EDDH,HAM,53.630402,9.988230
11,"Hamburg,DE",Hamburg-Finkenwerder Airport,Hamburg,DE,DE-HH,EDHI,XFW,53.535278,9.835556
12,"Heringsdorf,DE",Heringsdorf Airport,Heringsdorf,DE,DE-MV,EDAH,HDF,53.878700,14.152300
13,"Kassel,DE",Kassel-Calden Airport,Kassel,DE,DE-HE,EDVK,KSF,51.417273,9.384967
14,"Koblenz,DE",Koblenz-Winningen Airfield,Koblenz,DE,DE-RP,EDRK,NaN,50.325558,7.528611
15,"Leipzig,DE",Leipzig/Halle Airport,Leipzig,DE,DE-SN,EDDP,LEJ,51.423889,12.236389
16,"Mannheim,DE",Mannheim-City Airport,Mannheim,DE,DE-BW,EDFM,MHG,49.473057,8.514167
17,"Memmingen,DE",Memmingen Allgau Airport,Memmingen,DE,DE-BY,EDJA,FMM,47.988800,10.239500
18,"Munich,DE",Munich Airport,Munich,DE,DE-BY,EDDM,MUC,48.353802,11.786100
19,"Osnabrück,DE",Flugplatz Osnabrück-Atterheide,Osnabrück,DE,DE-NI,EDWO,NaN,52.286388,7.969722
20,"Nuremberg,DE",Nuremberg Airport,Nuremberg,DE,DE-BY,EDDN,NUE,49.498699,11.078056
21,"Paderborn,DE",Paderborn Lippstadt Airport,Paderborn,DE,DE-NW,EDLP,PAD,51.614101,8.616320
22,"Paderborn,DE",Paderborn-Haxterberg Airport,Paderborn,DE,DE-NW,EDLR,NaN,51.688332,8.775278
23,"Rostock,DE",Flugplatz Purkshof,Rostock,DE,DE-MV,EDCX,NaN,54.161667,12.248611
24,"Rostock,DE",Rostock-Laage Airport,Rostock,DE,DE-MV,ETNL,RLG,53.918201,12.278300
25,"Saarbrücken,DE",Saarbrücken Airport,Saarbrücken,DE,DE-SL,EDDR,SCN,49.214600,7.109510
26,"Stuttgart,DE",Stuttgart Airport,Stuttgart,DE,DE-BW,EDDS,STR,48.689899,9.221960
27,"Weeze,DE",Weeze Airport,Weeze,DE,DE-NW,EDLV,NRN,51.602402,6.142170

# Upload to cloud database

setting up the connection

In [149]:
user=user_id
password=password
host=endpoint
database=db_name
port=port
con= f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}'

uploading the 3 tables

In [128]:
df_cities_GER.to_sql('cities', con=con, index=False)

In [150]:
df_airports_ger_final.to_sql('airports_ger', con=con, index=False)

In [152]:
df_cities_demographic2.to_sql('cities_demographics', con=con, index=False)